body {
  color: #1C2226;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
a {
  color: #1C2226;
}
.title_page {

  .title_page_groupe {
    height: 100%;
  }
}

.title-one {
  @include title-one;
}
.title-two {
  @include title-two;
}

.btn-font {
  @include btn-font;

  &:hover{
    color: #FFFFFF;
  }
}

.dropdown-menu {
  border-color: $primary;

  .dropdown-item {
    font-family: 'Titillium Web', sans-serif;
    color: $bw-gray-dark;
    font-size: 1.2rem;
    font-weight: 500;

    &:hover {
      color: $bw-red;
    }
  }
}

.breadcrum {
  @media (max-width: 991.98px) {
    border-bottom: none;
  }
  border-bottom: solid 1px $primary;
}





