body {
  color: #1C2226;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
a {
  color: #1C2226;
}
.title_page {

  .title_page_groupe {
    height: 100%;
  }
}

.top_page {
  height: 23.1245em;

  .img_top {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
    max-height: 43.6em;

    img {
      width: 100%;
    }
  }
}

.title-one {
  @include title-one;
}
.title-two {
  @include title-two;
}

.dropdown-menu {
  border-color: $primary;

  .dropdown-item {
    font-family: 'Titillium Web', sans-serif;
    color: $bw-red;
    font-size: 1.25rem;
    font-weight: 500;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
      color: $bw-red;
    }
  }
}



