.top_home{

  .img_top img {
    max-width: 100%;
  }
}

.title_page {
  vertical-align: bottom;
  color: $primary;
  font-family: Montserrat;
  height: 100%;
}

.headband {

  .card {
    background-color: transparent;
    border: none;

    .card-title {
      text-align: center;
    }
  }
  .round {
    border-radius: 10em;
  }

}


