.top_home{

  .img_top img {
    max-width: 100%;
  }
}

.title_page {
  vertical-align: bottom;
  height: 100%;

  .btn-font {
    @include btn-font;

    &:hover{
      color: #FFFFFF;
    }
  }
}

.headband {
  background-color: $bw-blue-light;

  .card {
    background-color: transparent;
    border: none;
    padding: 3rem 0 0 0;
    @media (max-width: 991.98px) {
      padding: 0 0 3rem 0;
    }
    .card-img-top {
      @media (max-width: 991.98px) {
        max-width: 75%;
      }
    }
    .card-body {
      @media (max-width: 991.98px) {
        padding: 1rem 0;
      }
      padding: 2rem 0;

      .card-title {
        text-align: center;
      }

      .btn-head {
        @include btn-font;
        color: #FFFFFF;

        &:hover {
          color: #FFFFFF;
          background-color: $secondary;
          border-color: $secondary;
        }
      }
    }
    .collapse {
      background-color: #FFFFFF;
      padding: 0 2rem;
      border-radius: 0.5rem;
      text-align: center;
    }

  }
  .round {
    border-radius: 10em;
  }

}

.team {
  .team_img {
    img {
      @media (max-width: 991.98px) {
        max-width: 75%;
        margin: auto;
      }
      max-width: 100%;
    }
  }

  .team_name {
    @include title-one;
  }

  .team_text {
    text-align: center;
  }
}

.article {
  .article_block_img{
    @media (max-width: 991.98px) {
      height: 100%;
    }
    height: 15rem;

    .article_img {
      width: 100%;
      object-fit: cover;
      max-height: 100%;
    }
  }

  .article_block {

    .article_title {
      @include title-one;
    }

    .article_categories strong {
      font-family: 'Expletus Sans', cursive;
      font-size: 1.25rem;
      text-decoration: underline;
    }

    .article_credit, .article_text {
      color: $bw-gray-dark;
    }
  }
  .article_link {
    text-decoration: none;
  }

}


