
.page_galerie {
  height: 20rem;
}

.top_page {
  margin-bottom: -5rem;
  .img_top{
    width: 100%;

    img {
      max-width: 100%;
    }
  }
  .title {
    @media (max-width: 991.98px) {
      position: relative;
      top: -6rem;
      left: 1rem;
    }
    position: relative;
    top: -10rem;
    left: 5rem;

  }
}
