{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="container">
    <div class="security mb-5">
        <h1 class="title_form mb-3">Mot de passe oublié</h1>

        {% for flash_message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ flash_message }}</div>
        {% endfor %}

        <p>Entrez votre adresse e-mail, nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>

        <form method="post">
            <div class="mb-3">
                <label for="email">Votre adresse e-mail</label>
                <input type="email" name="email" id="email" class="form-control" required autofocus>
            </div>
            <button class="btn btn-primary" type="submit">Envoyer le lien</button>
        </form>
    </div>
</div>
{% endblock %}
