<div class="comment d-flex flex-column mb-3 p-3 border rounded">
    <div class="comment_header d-flex justify-content-between align-items-center mb-2">
        <strong class="comment_author">{{ comment.user.firstName }} {{ comment.user.name }}</strong>
        <small class="comment_date text-muted">{{ comment.createdAt|date('d/m/Y à H:i') }}</small>
    </div>
    <div class="comment_body">
        <p class="mb-0">{{ comment.content }}</p>
    </div>
</div>
