{% set archives = widget_service.findArchives() %}
{% if archives|length > 0 %}
<div class="p-4 widget_archives">
    <h4 class="fst-italic">Archives</h4>
    <ul class="list-unstyled mb-0">
        {% set monthNames = ['', 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}
        {% for archive in archives %}
            <li>
                <a href="{{ path('app_article_show_all', { month: archive.month, year: archive.year }) }}" class="widget_link">
                    {{ monthNames[archive.month] }} {{ archive.year }} ({{ archive.count }})
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
