<div class="p-4 widget_categories">
    <h4 class="fst-italic">Catégories</h4>
    <ul class="list-unstyled mb-0">
        {% for categorie in categories %}
            <li><a class="widget_link" href="{{ path('app_categorie_show', { 'slug': categorie.slug}) }}">{{ categorie.name }}</a></li>
        {% endfor %}

    </ul>
</div>