<div class="p-4 widget_article">
    <h4 class="fst-italic">Dernier article</h4>
    <div class="d-none d-lg-block widget_article_img">
        <img src="{{ asset('images/exemple/img-500.png') }}" alt="{{ title_page }}"/>
    </div>
    <div class="pt-2 d-flex flex-column">
        <strong class="d-inline-block mb-2 text-primary">Catégories</strong>
        <h3 class="mb-0">Title</h3>
        <div class="mb-1 text-body-secondary">Date</div>
        <p class="card-text mb-auto">Featured text</p>
        <a href="#" class="btn btn-primary btn-sm">Voir +</a>
    </div>

</div>