<div class="p-4 widget_register">
    <h4>Restez informés</h4>
    <p>Recevez directement tous les articles et parution et restez informés de toutes nos actualités.</p>
    <div class="d-flex justify-content-center p-3">
        <a class="btn-font btn btn-primary shadow-sm" href="{{ path('app_register')}}"><span>Créer un compte</span></a>
    </div>
</div>