{% extends 'base.html.twig' %}

{% block title %}{{ categorie.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="breadcrum mb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Catégorie - {{ categorie.name }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="d-flex flex-column-reverse flex-lg-row">
            <div class="col-lg-4">
                <div class="widget d-flex flex-column position-sticky" style="top: 1rem;">
                    {% include 'widgets/subscribe.html.twig' %}
                    {% include 'widgets/caterogires.html.twig' %}
                    {% include 'widgets/last_article.html.twig' %}
                    {% include 'widgets/archives.html.twig' %}
                </div>
            </div>
            <div class="col-lg-8 ps-2">
                <div class="articles_list d-flex flex-column">

                    <h3 class="title-one pb-3">{{ categorie.name }}</h3>

                    {% include 'article/article_liste_large.html.twig' with { articles: categorie.articles } %}

                </div>


            </div>
        </div>
    </div>

{% endblock %}
